@import 'reset';
@import '../grid/grid';

body > .container {
	$bp-children: 1 2 4;
	@include grid($bp-children, true, true);

	.container {
		@include grid(2 2 4);
	}

	.container.first-sub .child {
		@include child($bp-children, 1 2 2);
	}
}

.child {
	padding: 2em;
	border: 1px solid #ccc;
	margin: 1em 0;
}